header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
    gap: 4rem;
    width: 100%;
    height: 100px;
    color: black; /* White text color */
    background-color: lightgray; /* Dark background color */
}

header #leftSide {
    flex: 1; /* Take remaining space */
    display: flex;
    align-items: center; /* Align items vertically */
    margin-right:100%;
}

header #leftSide .logo {
    max-width: 100px; /* Set the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}

header #leftSide .logo img {
    max-width: 100%; /* Set the maximum width of the logo image */
    height: auto; /* Maintain aspect ratio */
    margin-left:20px;
    margin-top:40px;
}


header #rightSide nav ul {
    list-style: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
}

header #rightSide nav ul li {
    display: inline; /* Display list items inline */
    margin-right: 20px; /* Add spacing between items */
}

header #rightSide nav ul li a {
    color: black; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
}

header #rightSide nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

header #leftSide .logo img {
    max-width: 50px; /* Set the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}
