{% extends 'autenticacao/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'autenticacao/styles/signin.css' %}">
    <link rel="stylesheet" href="{% static 'root/styles/style.css' %}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="vertical-container full-height">
            <div class="spacer"></div>
            <h1>Login</h1>
            
            <form class="flex-grow" method="POST">
                {% csrf_token %}
                <input class="poppins-regular" placeholder="Usuário" type="text" name="username">
                <input class="poppins-regular" placeholder="Senha" type="password" name="password">
                <button class="poppins-semibold">Entrar</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <div class="message-container">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
    
            <div class="horizontal-container spacer">
                <p class="poppins-medium tiny">Não tem uma conta?</p>
                <a class="poppins-medium tiny link" href="{% url 'autenticacao:signup' %}">Registre-se</a>
            </div>
        </div>
    </div>
{% endblock %}
