:root {
    --blue: #1E46D9;
    --blueHover: #1c3ebb;
    --yellow: #F7B401;
    --yellowHover: #d69d00;
    --red: #D72C00;
    --redHover: #c02600;
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --black: #292B26;
    --blackHover: rgb(16, 16, 15);

    --zinc-100: #f4f4f5;
    --zinc-300: #d4d4d8;
    --zinc-500: #71717a;
}

main {
    flex: 1 1 0%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

hr {
    height: 1px;
    color: var(--zinc-300);
    background-color: var(--zinc-300);
    border: none;
}

h1 {
    font-size: 2rem;
    color: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > button {
    max-width: fit-content;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

form > button:hover {
    background-color: var(--blueHover);
}

#uploadfile {
    padding: 0.5rem;
    cursor: pointer;
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 15rem;
    color: var(--black);
    border: 3px dashed var(--black);
    background-color: var(--beige);
    border-radius: 1.5rem;
}

.currentFile {
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 0.5rem;
}

.alunos-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--zinc-500);
    background-color: var(--zinc-100);
}

.aluno {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aluno > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}