.lexend-deca-regular {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lexend-deca-medium {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lexend-deca-semibold {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lexend-deca-semibold-italic {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.lexend-deca-bold {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lexend-deca-bold-italic {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lexend-deca-extrabold {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.lexend-deca-extrabold-italic {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.lexend-deca-black {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lexend-deca-black-italic {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.lexend-deca-medium-italic {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.lexend-deca-regular-italic {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: italic;
}