{% extends 'feedbackApp/base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'feedbackApp/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackApp/css/modal.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="content">
            {% for group in groups %}
                <a href="{% url 'feedbackApp:group' id=group.id %}" class="group">
                    <div class="img">
                        <img src="{% static 'images/factLogo.png' %}" alt="FACT">
                    </div>
                    <p>{{group.nome}}</p>
                </a>
            {% endfor %}
        </div>
        <button id="addGroup">
            Adicionar Grupo
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        </button>
    </main>

    <div class="addGroup-modal">
        <div>
            <button id="closeModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="addGroup">
                <label for="name">Nome do Grupo</label>
                <input id="name" name="groupName"></input>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function toggleModal(action) {
            const modal = document.getElementsByClassName("addGroup-modal")[0];
            if(action === "close") {
                modal.classList.remove("active");
                return;
            }

            modal.classList.toggle("active");
        }

        document.getElementById("addGroup")?.addEventListener("click", toggleModal);
        document.getElementById("closeModal")?.addEventListener("click", toggleModal);

        window.addEventListener("keydown", (key) => {
            if(key.key === "Escape") toggleModal("close");
        })
    </script>
{% endblock %}