{% extends 'feedbackApp/base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'feedbackApp/css/group.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h1>{{ group.nome }}</h1>

        {% if group.alunos|length < 1 %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label id="uploadfile" for="uploadfileInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                    Envie o arquivo Excel
                </label>
                <input id="uploadfileInput" style="display: none;" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <button type="submit">Enviar</button>
            </form>
        {% endif %}
    </main>
{% endblock %}

{% block script %}
    <script>
        const upload = document.getElementById("uploadfileInput");
        const uploadLabel = document.getElementById("uploadfile");

        upload.addEventListener("change", (event) => {
            const file = event.target.files[0];
            if(file) {
                uploadLabel.innerHTML = `<p class="currentFile">${file.name}</p>`
            }
        })
    </script>
{% endblock %}