{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACT</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>

<body>
    <header>
        <div>
            <div id="leftSide">
                <a href="{% url 'root' %}" class="logo">
                    <img src="{% static 'images/factLogo.png' %}" alt="FACT">
                </a>
            </div>
            <div id="rightSide">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
