<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>FACT</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% load static %}
    <div>
        <div id = "leftSide" style="padding-right: 60%;">
            <a href="{% url 'feedbackApp:root' %}" class="logo" style="padding-left: 60%;">
                <img src="{% static 'root/images/factLogo.png' %}" alt="CheckPoint">
            </a>

        </div>
        <div id = "rightSide"></div>
    </div>
    {% block content %}{% endblock %}
    {% block script %} {% endblock %}
</body>
</html>
