<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>FACT</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <div>
        <div id = "leftSide" style="padding-right: 80%;">
            <a href="{% url 'root' %}" class="logo" style="padding-left: 60%;">
                <img src="{% static 'images/factLogo.png' %}" alt="FACT">
            </a>

        </div>
        <div id = "rightSide"></div>
    </div>
    {% block content %}{% endblock %}
    {% block script %} {% endblock %}
</body>
</html>
